#coin-slider{
	overflow:hidden;
	background:url(../images/loader.gif) 50% 50% no-repeat;
	width:1005px;
	height:253px;
	left:0;
	top:0;
	margin:0;
	position:relative;
	font-family: Arial;
}
.coin-slider{
	position:relative;
	margin:0 auto;
	width:1005px;
	height:253px !important;
	overflow:hidden;
}
.coin-slider a{text-decoration:none;outline:none;border:none}

.cs-buttons{
	position:relative;
	bottom:20px;
	left: 15px;
	color:#E6E6E6;
	width: 100px;
}
.cs-buttons a{
	color:#FBF2EF;
	margin-right:7px;
	padding:0;
	height:10px;
 width:10px;
 -moz-border-radius: 20px;
 -webkit-border-radius: 20px;
 -khtml-border-radius: 20px;
 border-radius: 20px;
	border:1px solid #7a7a7a !important;
	display: inline-block;
	background: #E6E6E6;
}
//.cs-buttons a.button-last {background:url(../images/pagination-tail2.gif) repeat-x 0 0; border-top:1px solid #7e0000 !important;}
//.cs-buttons a.button-next {background:url(../images/pagination-next-tail.gif) repeat-x 0 0 !important; border-top:1px solid #7e0000 !important;}
.cs-buttons a:hover,.cs-buttons a.cs-active{
}

	.cs-buttons span {
		position: absolute;
		text-align: center;
		height:200px;
		width: 185px;
		top: -210px;
		left: 765px;
		background:url(../images/pagination-bg1.gif) no-repeat 0 0;
		display:none;
	}

	.cs-buttons p.logo {
		background-repeat: no-repeat;
		background-position: center center;
		width:185px;
		height: 60px;
		display:block;
	}

	.cs-buttons strong {
		font-size:24px;
		color: #3f3f3f;
		line-height:100%;
		font-weight: bold;
	}
	.cs-buttons strong.price {
		color: #ce0002;
		font-size: 57px;
		font-weight:normal;

	}	
	.cs-buttons strong.title {

	}	
	
	.cs-buttons b {
		font-weight:normal;
		color: #3f3f3f;
		font-size:15px;
		line-height:100%;
	}	
	
	.cs-buttons b.subtitle {
			font-style: italic;
	}	
	
	.cs-buttons b.description {
				font-size: 12px;				
	}	
	
	.coin-slider .cs-buttons a.cs-active span{
		display: block;
		}
	
	
	
	
	.coin-slider .cs-buttons a.cs-active span, .coin-slider .cs-buttons a:hover span {background: url(../images/pagination-active-bg.gif) no-repeat 0 0 !important;}
//	.cs-buttons a.button-next span {background:url(../images/pagination-next-bg.gif) no-repeat 0 0 !important;}
//	.cs-buttons a.button-last span {background:url(../images/pagination-bg2.gif) no-repeat 0 0;}
	.cs-buttons a i {
		display:none;
		position:absolute;
		background:#FFBF00;
		width:10px;
		height:10px;
		-moz-border-radius: 20px;
 -webkit-border-radius: 20px;
 -khtml-border-radius: 20px;
 border-radius: 20px;
	}
	.cs-buttons a.cs-active i, .cs-buttons a:hover i {display:block;}



#cs-title-coin-slider, .cs-title {display:none !important;}
.cs-prev,.cs-next{background:#000;color:#fff;padding:0px 10px; display:none;}
.cs-prev:hover,.cs-next:hover{background:#fff;color:#000}